tensorflow==2.5.0
streamlit
pandas
numpy
scikit-learn==0.22.2.post1
prettytable
xgboost==0.90
googledrivedownloader
nltk==3.2.5
setuptools
spacy-streamlit --pre
spacy==3.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.0/en_core_web_md-2.2.0.tar.gz
